@import url('utils.css');

.education-form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-education-btn {
  background-color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.add-education-form {
  background-color: #fff;
}
