@import url('utils.css');

.add-experience-btn {
  background-color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.add-experience-form {
  background-color: #fff;
  padding: 1rem;
}
