.btn {
  padding: 1rem;
  background-color: #fff;
  color: #111;
  font-weight: 500;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.gap {
  gap: 0.2rem;
}

.gap-1 {
  gap: 0.5rem;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.rounded {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 1rem;
}

ul {
  list-style: none;
}

.section-header {
  padding: 0.2rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
}

input {
  margin-top: 0.2rem;
  padding: 0.5rem;
  border: 2px solid #cccccc;
  border-radius: 0.5rem;
  display: block;
  background-color: #fdfdfd;
  color: #111;
}

.form {
  background-color: #fff;
}

li {
  padding: 1rem;
  background-color: #fff;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.delete-btn {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.form-controls {
  margin-top: 10px;
}

.cancel-btn,
.save-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.cancel-btn:hover,
.save-btn:hover {
  transform: scale(1.05);
}

.cancel-btn {
  background-color: #f87171;
  color: #7f1d1d;
}

.save-btn {
  background-color: #4ade80;
  color: #14532d;
}
