.App {
  padding: 1rem;
  display: grid;
  grid-template: 1fr / 350px 1fr;
  gap: 2rem;
}

.cv-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #fff;
}

.cv-preview {
  padding: 1rem;
  background-color: #fff;
}
